nav {
    margin: 0 auto;
    display: inline-flex;
    background-color: rgb(51, 51, 51);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    justify-content: space-evenly;
    text-align: center;
}

#navbar .nav-img {
    position: fixed;
    background-color: rgb(51, 51, 51);
    border-radius: 80px;
}

nav a {
    margin-top: 26px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFBF00;
    text-decoration: none;
    font-size: 17px;
    transition: all .2s ease-out;
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
}

nav a:hover {
    color: #ee5455;
}

#coding-link {
    margin-right: 80px;
}

#crafting-link {
    margin-left: 80px;
}

@media (max-width: 600px) {
    nav img {
        width: 78px
    }
    nav a {
        font-size: 12px;
    }
    #coding-link {
        margin-right: 0;
    }
}

main {
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 108px;
    text-align: center;
    background-color: #21513A;
    margin-left: -8px;
    margin-right: -8px;
    color: rgb(34, 31, 26);
}

#welcome-section {
    margin: 0 auto;
    margin-top: 78px;
    height: 100vh;
    display: block;
}

#welcome-section h1 {
    font-size: 88px;
    letter-spacing: 2px;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    margin-bottom: 22px;
}

#welcome-section h2 {
    letter-spacing: 1.5px;
    font-size: 24px;
    font-family: 'Special Elite', cursive;
}

#typewriter span {
    animation: blinker 1.5s linear infinite;

}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#projects {
    background-color: rgba(245, 222, 179, 0.61);
    margin: 0 auto;
}

#projects .row {
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

#projects .col-6 {
    padding-top: 28px;
    text-align: center;
    background-color: #042f4b;
    color: #FFBF00;
}

#dictionaryApp, #weatherApp, #tributePage {
    background-image: url(./img/Robin.png);
    background-size: cover;
}

#projects h1, #projects p {
    background-color: rgba(51, 51, 51, 0.932);
}

#projects img {
    margin: 0 auto;
    width: 100%;
}