nav {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.container {
  margin: 0 auto;
  position: relative;
  text-align: left;
  top: -28px;
  left: -82px;
}

.container .links {
  position: absolute;
  top: 42px;
  left: 62px;
}

.links a,
.links p {
  margin: 0 auto;
  padding-top: 8px;
  width: 100%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #212f3c;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  transition: all 0.2s ease-out;
  font-family: "Roboto Condensed", sans-serif;
}

nav img {
  transition: all 1s ease-in-out;
}

nav img:hover {
  transform: skew(22deg, 8deg);
}

nav a:hover {
  color: aliceblue;
  text-decoration: line-through;
}

main {
  margin: 0 auto;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
  background-image: url(./img/pexels-anni-roenkae-2382738.jpg);
  background-size: cover;
}

#welcome-section {
  margin: 0 auto;
  height: 100vh;
  padding-top: 188px;
}

#welcome-section img {
  margin: 0 auto;
  width: 328px;
  border-radius: 50%;
  margin-bottom: -128px;
  box-shadow: 1px 8px 22px rgba(0, 0, 0, 0.452);
}

#intro {
  padding: 128px 0 18px 0;
  background-color: rgba(119, 136, 153, 0.877);
  color: aliceblue;
}

#welcome-section h1 {
  padding-top: 22px;
  font-size: 118px;
  font-family: "Licorice", cursive;
  font-weight: 300;
  margin-bottom: 18px;
}

#welcome-section h2 {
  letter-spacing: 1.5px;
  font-size: 28px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  padding-bottom: 22px;
}

#typewriter span {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#certificates {
  margin: 0 auto;
  padding: 28px 28px 68px 28px;
  text-align: center;
}

#certificates h3 {
  padding-bottom: 68px;
  text-align: left;
  font-size: 52px;
  text-decoration: underline 2.5px;
  font-family: "Licorice", cursive;
  letter-spacing: 2px;
  text-underline-offset: 5px;
  color: #212f3c;
}

#certificates img {
  width: 82px;
  transition: all 2.5s ease;
}

#certificates img:hover {
  transform: rotate(90deg);
}

#certificates p {
  padding-top: 22px;
}

#certificates p a {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 22px;
  letter-spacing: 1px;
  text-underline-offset: 2px;
  text-decoration: none;
}

#certificates a:hover {
  color: rgba(119, 136, 153, 0.877);
  text-decoration: line-through;
}

#projects {
  margin: 0 auto;
  background-color: aliceblue;
}

#projects h3 {
  padding: 8px 0 8px 28px;
  text-align: left;
  font-size: 52px;
  text-decoration: underline 2.5px;
  font-family: "Licorice", cursive;
  letter-spacing: 2px;
  text-underline-offset: 5px;
  color: #212f3c;
}

#projects .row {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#projects .col-6 {
  text-align: center;
  color: #ffbf00;
  padding: 32px 8px;
}

#projects h1 {
  margin: 0 auto;
  margin-top: 18px;
  width: 88%;
  background-color: rgba(51, 51, 51, 0.932);
  border: 0.5px solid #ffbf008e;
}

#projects img {
  margin: 0 auto;
  width: 88%;
  border: 0.5px solid #ffbf008e;
}

#contact h3 {
  padding-left: 28px;
  text-align: left;
  font-size: 52px;
  text-decoration: underline 2.5px;
  text-underline-offset: 5px;
  font-family: "Licorice", cursive;
  letter-spacing: 2px;
  color: #212f3c;
}

@media (max-width: 1500px) {
  .container {
    left: -52px;
  }
}

@media (max-width: 600px) {
  .container {
    left: -8px;
  }
  #welcome-section img {
    width: 300px;
  }
  #welcome-section h1 {
    font-size: 88px;
  }
  #welcome-section h2 {
    font-size: 18px;
  }
}
