nav {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.container {
  margin: 0 auto;
  position: relative;
  text-align: left;
  top: -28px;
  left: -68px;
}

.container .links {
  position: absolute;
  top: 48px;
  left: 38px;
}

.links a,
.links p {
  margin: 0 auto;
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  transition: all 0.2s ease-out;
}

nav a:hover {
  color: #ee5455;
}

@media (max-width: 600px) {
  .container {
    left: -8px;
  }
}

main {
  margin: 0 auto;
  padding-top: 248px;
  padding-bottom: 108px;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
  background-image: url(./img/pexels-anni-roenkae-2382738.jpg);
  background-size: cover;
}

#welcome-section {
  margin: 0 auto;
  height: 100vh;
  display: block;
}

#intro {
  padding: 18px 0;
  background-color: rgba(119, 136, 153, 0.877);
  box-shadow: 1px 8px 22px rgba(0, 0, 0, 0.452);
  color: aliceblue;
}

#welcome-section h1 {
  font-size: 98px;
  letter-spacing: 2px;
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  margin-bottom: 38px;
}

#welcome-section h2 {
  letter-spacing: 1.5px;
  font-size: 28px;
  font-family: "Special Elite", cursive;
}

#typewriter span {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#certificates {
  margin: 0 auto;
  padding: 108px 28px 108px 28px;
  text-align: center;
}


#certificates img {
  width: 82px;
}

#certificates h3 {
  padding-top: 38px;

  font-size: 22px;
}

#projects {
  margin: 0 auto;
  background-color: aliceblue;
}

#projects h3 {
  padding: 8px 0 8px 50px;
  font-size: 48px;
  color: #064635;
  text-decoration: underline 2.6px;
}

#projects .row {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#projects .col-6 {
  text-align: center;
  color: #ffbf00;
  padding: 32px 8px;
}

#projects h1 {
  margin: 0 auto;
  margin-top: 18px;
  width: 88%;
  background-color: rgba(51, 51, 51, 0.932);
  border: 0.5px solid #ffbf008e;
}

#projects img {
  margin: 0 auto;
  width: 88%;
  border: 0.5px solid #ffbf008e;
}
